<style>

        body {
            font-family: Arial, sans-serif;
            margin: 5;
            padding: 5;
            
        }

        header {
            
            background-color: #08a3b8;
            color: white;
            text-align: center;
            padding: 20px 0;
            border-style: outset     
           
        }

        header h1 {
            font-size: 2.5em;
           
        }

        header h2 {
            font-size: 1.5em;
            margin-top: 5px;
           
        }

        section {
            padding: 20px;
            margin: 20px auto;
            max-width: 900px;
            background-color: rgb(195, 215, 240);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            border-style: outset    
        }

        h2 {
            color: #220baa;
        }

        h3 {
            color: #fcffff;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            margin-bottom: 15px;
        }

        a {
            color: #f7081c;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        footer {
            background-color: #08a3b8;
            color: rgb(214, 213, 231);
            text-align: center;
            padding: 5px 0;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            bottom: 0;
            border-style: outset    
        }
    </style>
